<div class="content">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div [ngClass]="{invalid:form.get('position')?.touched && form.get('position')?.invalid}" class="form-control">

      <label for="position">Посада</label>
      <select id="position" formControlName="position">
        <option value="packingMachineOperator">Оператор пакувальних апаратів</option>
        <option value="Courier">Оператор парового тунелю</option>
        <option value="Mail">Оператор м'ясопідготовки</option>
        <option value="Mail">Помічник оператора м'ясопідготовки</option>
        <option value="Mail">Оператор Gravy</option>
        <option value="Mail">Оператор автоклавів</option>
        <option value="Mail">Помічник оператора автоклавів</option>
        <option value="Mail">Оператор Dana</option>
        <option value="Mail">Оператор Somic</option>
        <option value="Mail">Вантажник(м'ясопідготовка)</option>
        <option value="Mail">Укладальник пакувальник</option>
      </select>

      <!-- <div class="errors" *ngIf="form.get('sendingType')?.invalid && form.get('sendingType')?.touched">
      <small>
        Field cannot be empty
      </small>
    </div> -->
    </div>



    <div [ngClass]="{invalid:form.get('mainTime')?.touched && form.get('mainTime')?.invalid}" class="form-control">
      <label for="mainTime">Відпрацьовано</label>
      <input id="mainTime" type="text" formControlName="mainTime">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('sundayTime')?.touched && form.get('sundayTime')?.invalid}" class="form-control">
      <label for="sundayTime">Недільні</label>
      <input id="sundayTime" type="text" formControlName="sundayTime">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('nightTime')?.touched && form.get('nightTime')?.invalid}" class="form-control">
      <label for="nightTime">Нічні</label>
      <input id="nightTime" type="text" formControlName="nightTime">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('weekendTime')?.touched && form.get('weekendTime')?.invalid}"
      class="form-control">
      <label for="weekendTime">Святкові</label>
      <input id="weekendTime" type="text" formControlName="weekendTime">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('overTime')?.touched && form.get('overTime')?.invalid}" class="form-control">
      <label for="overTime">Понаднормові</label>
      <input id="overTime" type="text" formControlName="overTime">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('premium')?.touched && form.get('premium')?.invalid}" class="form-control">
      <label for="premium">Премія</label>
      <input id="premium" type="text" formControlName="premium">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('bonus')?.touched && form.get('bonus')?.invalid}" class="form-control">
      <label for="bonus">Бонус</label>
      <input id="bonus" type="text" formControlName="bonus">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>

    <div [ngClass]="{invalid:form.get('advance')?.touched && form.get('advance')?.invalid}" class="form-control">
      <label for="advance">Аванс</label>
      <input id="advance" type="text" formControlName="advance">

      <!-- <div class="errors" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small *ngIf="form.get('email')?.errors?.required">
        Email field cannot be empty
      </small>
    </div> -->
    </div>





    <div class="card-fom_buttons">
      <button class="btn blue-btn" type="submit" [disabled]="form.invalid ">Submit</button>

    </div>



  </form>
</div>
