<div class="warning" id="login">
  <div class="warning_login">
    <input type="password" [(ngModel)]="currentPassword">
    <button (click)="login()">Увійти</button>
  </div>
</div>

<div class="content">
  <h2>Admin</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="calibrate">
      <input id="calibrate-input" type="text" formControlName="calibrate" placeholder="1.0077">
      <button class="small-btn" type="button" (click)="unlockInput()">Розблокувати</button>
      <button class="small-btn" type="submit">Зберегти зміни</button>
    </div>
    <div class="message" *ngIf="calibrateValueIsChanged">
      <p>{{calibrateValueIsChanged}}</p>
    </div>
  </form>

  <form [formGroup]="rateAndAverageForm" class="form-rate-average" *ngIf="rateAndAverage" (ngSubmit)="saveChanges()">


    <div class="form-array-control">
      <div class="control-rate">
        <p>Ставка</p>
        <div [ngClass]="{invalid:getRateSalary()[idx].touched && getRateSalary()[idx].invalid}" class="form_average"
          formGroupName="rateSalary" *ngFor="let c of getRateSalary(); let idx = index">
          <label>{{getAllPosition()[idx]}}:</label>
          <input list="characteristic" type="text" [formControlName]="idx">

        </div>
      </div>

      <div class="control-average">
        <p>Сер. зарплата</p>
        <div [ngClass]="{invalid:getAverageSalary()[idx].touched && getAverageSalary()[idx].invalid}" class="form_rate"
          formGroupName="averageSalary" *ngFor="let c of getAverageSalary(); let idx = index">

          <input type="text" [formControlName]="idx ">
        </div>
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="rateAndAverageForm.invalid || submitted">Зберегти зміни</button>
    <div class="errors " *ngIf="arrayFormValid()">
      <small *ngIf="arrayFormErrors()">
        Заповніть усі поля(дані мають бути числами)
      </small>
    </div>
    <div class="message" *ngIf="rateAndAverageIsChanged">
      <p>{{rateAndAverageIsChanged}}</p>
    </div>
  </form>

  <div class="salaries">
    <table style="width:100%">
      <tr>
        <th>Н</th>
        <th>Посада</th>
        <th>Усі</th>
        <th>Недільні</th>
        <th>Нічні</th>
        <th>Вихідні</th>
        <th>Понаднормові</th>

        <th>Премія</th>
        <th>Бонус</th>
        <th>Аванс</th>
        <th>За годину</th>
        <th>Середня</th>
        <th>Зарплата</th>
        <th>Повна</th>
        <th>Дата</th>
      </tr>
      <tr *ngFor="let s of allSalary | sortByDate; let idx = index">
        <td>{{allSalary.length - idx }}</td>
        <td>{{s.position}}</td>
        <td>{{s.mainTime}}</td>
        <td>{{s.sundayTime}}</td>
        <td>{{s.nightTime}}</td>
        <td>{{s.weekendTime}}</td>
        <td>{{s.overTime}}</td>

        <td>{{s.premium}}</td>
        <td>{{s.bonus}}</td>
        <td>{{s.advance}}</td>
        <td>{{s.uahPerHour}}</td>
        <td>{{s.averageSalary}}</td>
        <td>{{s.salary}}</td>
        <td>{{s.fullSalary}}</td>
        <td>{{s.date | date:'short'}}</td>
        <button (click)="removeData(s.id)">&times;</button>
      </tr>
    </table>

  </div>
</div>
